
body{
    margin: 0 auto;
    padding: 0px;
    font-size: 18px;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
}
.fontMukta{
    font-family: 'Mukta', sans-serif;
}

/* Couleur Text */

.textBlanc{
    color: #ffffff;
}
.bold{
    font-weight: bold;
}

.titreH1{
    font-size: 48px;
}
.titreH2{
    font-size: 36px;
}


header{
    background-image: url("/img/effix-header-main.jpg");
    width: 100%;
    height: 520px;
}
.navHeader,
.navHeader:active,
.navHeader:visited,
.navHeader:focus{
    text-decoration: none;
    color: #ffffff;
}
.navHeader:hover{
    color: #AF8D55;
}

/* CSS GRID */

.grid{
    display: grid;
    grid-template-columns: 46px 77.6px 77.6px 77.6px 77.6px 77.6px 77.6px 77.6px 77.6px 77.6px 77.46px;
    grid-template-rows: repeat(10, 1fr) ;
    gap: 20px;
}
.headerTitre{
    grid-column: 2 / 5;
    grid-row: 1;
}
.gridNav{
    grid-column: 7 / 12;
    grid-row: 1;
}

footer{
    background-color: rgba(23,58, 54) ;
}