
body{
    margin: 0 auto;
    padding: 0px;
    font-size: 18px;
    
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
}
.fontMukta{
    font-family: 'Mukta', sans-serif;
}
.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
.noMP{
    margin: 0px;
    padding: 0px;
}

/* Couleur Text */

.textBlanc{
    color: #ffffff;
}
.textGold{
    background-color: #AF8D55;
}

/* Couleur Background */

.vertFoncé{
    background-color: #173A36;
}
.gold{
    background-color: #AF8D55;
}
.blanc{
    background-color: #ffffff;
}

/* Texte Size et Font */
 
.bold{
    font-weight: bold;
}

.titreH1{
    font-size: 48px;
}
.titreH2{
    font-size: 36px;
}
.titreH3{
    font-size: 24px;
}

/* Images des page HTML */

.headerAccueil{
    background-image: url("/img/effix-header-main.jpg");
    width: 100%;
    height: 520px;
}
.headerNosServices{
    background-image: url("/img/nos-services.jpg");
    width: 100%;
    height: 520px;
}
.headerNosRealisations{
    background-image: url("/img/nos-realisations.jpg");
    width: 100%;
    height: 520px;
}
.headerNousContacter{
    background-image: url("/img/nous-contacter.jpg");
    width: 100%;
    height: 520px;
}
.headerDevWeb{
    background-image: url("/img/developpement-web.jpg");
    width: 100%;
    height: 520px;
}
.headerDevLogiciel{
    background-image: url("/img/developpement-logiciel.jpg");
    width: 100%;
    height: 520px;
}
.headerImpartition{
    background-image: url("/img/impartition.jpg");
    width: 100%;
    height: 520px;
}
.headerGestionProjet{
    background-image: url("/img/gestion-de-projet.jpg");
    width: 100%;
    height: 520px;
}
.headerHebergement{
    background-image: url("/img/hebergement.jpg");
    width: 100%;
    height: 520px;
}
.navHeader{
    padding: 17px;
}
.navHeader,
.navHeader:active,
.navHeader:visited,
.navHeader:focus{
    text-decoration: none;
    color: #ffffff;
}
.navHeader:hover{
    color: #AF8D55;
}

.btn:hover{
    background-color: #173A36;
    color: #ffffff;
}
.btn2:hover{
    background-color: #AF8D55;
    color: #000000;
}


.btn{
    border-radius: 100px;
    border: 0px;
    width: 104px;
    height: 24px;
}
.btn2{
    color: #ffffff;
    border-radius: 100px;
    border: 0px;
    width: 104px;
    height: 24px;
}

/* CSS GRID */

.container{
    display: grid;
    grid-template-columns: 46px repeat(10, 2fr) 46px;
    grid-auto-columns: 81.2px;
    grid-template-rows: 20px;
    grid-auto-rows: 81.2px;

}
.headerTitre{
    grid-column: 2 / span 3;
    grid-row: 2;
}
.gridNav{
    grid-column: 5 / span 8;
    grid-row: 2;
    align-self: center;
}
.gridAbout{
    grid-column: 2 / span 4;
    grid-row: 5;
}

.mainTitre{
    grid-column: 2 / span 3;
    grid-row: 2;
    align-self: center;
}
.mainTitre2{
    grid-column: 2 / span 3;
    grid-row: 2;
}
.mainArticle1{
    grid-column: 2 / span 2;
    grid-row: 3 / span 4;
}
.mainArticle2{
    grid-column: 5 / span 2;
    grid-row: 3 / span 4;
}
.mainArticle3{
    grid-column: 2 / span 2;
    grid-row: 7 / span 4;
}
.mainArticle4{
    grid-column: 5 / span 2;
    grid-row: 7 / span 4;
}
.mainArticle5{
    grid-column: 2 / span 2;
    grid-row: 10 / span 5;
    align-self: center;
}
.mainArticle6{
    grid-column: 5 / span 2;
    grid-row: 10 / span 5;
    align-self: center;
}

.titreAside{
    grid-column: 9 / span 3;
    grid-row: 2;
    align-self: center;
}
.artcleAside1{
    grid-column: 9 / span 2;
    grid-row: 3 / span 4;
}
.artcleAside2{
    grid-column: 9 / span 2;
    grid-row: 7 / span 4;
}
.artcleAside3{
    grid-column: 9 / span 2;
    grid-row: 10 / span 5;
    align-self: center;
}

.hebergementArticle{
    grid-column: 2 / span 3;
    grid-row: 3 / span 4;
}
.logicielArticle{
    grid-column: 6 / span 3;
    grid-row: 3 / span 4;
}
.projetArticle{
    grid-column: 2 / span 3;
    grid-row: 6 / span 4;
}
.webArticle{
    grid-column: 6 / span 3;
    grid-row: 6 / span 4;
}
.impartitionArticle{
    grid-column: 2 / span 3;
    grid-row: 8 / span 5;
    align-self: center;
}

.footerTitre{
    grid-column: 2 / 5;
    grid-row: 2;
 }

footer{
    height: 124px;
}

.logosReseaux{
    grid-column: 9 / span 4;
    grid-row: 2;
    align-self: center;
}

.logos{
    padding: 10px;
}
